USE [master]
GO
/****** Object:  Database [WarehouseDB]    Script Date: 2025/6/23 13:17:36 ******/
CREATE DATABASE [WarehouseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarehouseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseDB]
GO
/****** Object:  Schema [Login]    Script Date: 2025/6/23 13:17:36 ******/
CREATE SCHEMA [Login]
GO
/****** Object:  UserDefinedFunction [dbo].[GetDefaultRoleId]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetDefaultRoleId]()
RETURNS INT
AS
BEGIN
    DECLARE @roleId INT;
    
    -- 获取普通用户角色ID
    SELECT @roleId = RoleId 
    FROM dbo.Roles 
    WHERE RoleName = '普通用户';
      
    RETURN @roleId;
END
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[InsertDate] [datetime] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UserRoles]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_UserRoles]
AS
SELECT 
    m.Id AS UserId,
    m.Name AS UserName,
    m.Password,
    m.InsertDate AS UserCreated,
    r.RoleId,
    r.RoleName,
    r.RoleDescription,
    r.CreatedAt AS RoleCreated
FROM dbo.Member m
INNER JOIN dbo.Roles r ON m.RoleId = r.RoleId;
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Tag] [varchar](250) NULL,
	[InsertDate] [datetime] NULL,
 CONSTRAINT [PK_CargoType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Company] [nvarchar](250) NULL,
	[Telephone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Tag] [nvarchar](250) NULL,
	[InsertDate] [datetime] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instore]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instore](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstoreOrderId] [int] NOT NULL,
	[CargoId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Tag] [nvarchar](250) NULL,
	[InsertDate] [datetime] NULL,
 CONSTRAINT [PK_Instore] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstoreOrder]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstoreOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[InsertDate] [datetime] NULL,
 CONSTRAINT [PK_InstoreList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[InsertDate] [datetime] NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](50) NOT NULL,
	[MenuKey] [varchar](50) NOT NULL,
	[ParentMenuId] [int] NULL,
	[DisplayOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MenuKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MenuKey] UNIQUE NONCLUSTERED 
(
	[MenuKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outstore]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outstore](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OutstoreOrderId] [int] NOT NULL,
	[CargoId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Tag] [nvarchar](250) NULL,
	[InsertDate] [datetime] NULL,
 CONSTRAINT [PK_Outstore] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutstoreOrder]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutstoreOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[InsertDate] [datetime] NULL,
 CONSTRAINT [PK_OutstoreOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Company] [nvarchar](50) NULL,
	[Telephone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Tag] [nvarchar](50) NULL,
	[InsertDate] [datetime] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMenu]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMenu](
	[UserId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_UserMenu] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 2025/6/23 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Telephone] [nvarchar](50) NULL,
	[InsertDate] [datetime] NULL,
	[Tag] [nvarchar](50) NULL,
 CONSTRAINT [PK_Warehouse] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Member_Name]    Script Date: 2025/6/23 13:17:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Member_Name] ON [dbo].[Member]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMenu_MenuId]    Script Date: 2025/6/23 13:17:36 ******/
CREATE NONCLUSTERED INDEX [IX_UserMenu_MenuId] ON [dbo].[UserMenu]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMenu_UserId]    Script Date: 2025/6/23 13:17:36 ******/
CREATE NONCLUSTERED INDEX [IX_UserMenu_UserId] ON [dbo].[UserMenu]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Instore] ADD  CONSTRAINT [DF_Instore_InstoreListId]  DEFAULT ((0)) FOR [InstoreOrderId]
GO
ALTER TABLE [dbo].[Instore] ADD  CONSTRAINT [DF_Instore_CargoId]  DEFAULT ((0)) FOR [CargoId]
GO
ALTER TABLE [dbo].[Instore] ADD  CONSTRAINT [DF_Instore_LocationId]  DEFAULT ((0)) FOR [LocationId]
GO
ALTER TABLE [dbo].[Instore] ADD  CONSTRAINT [DF_Instore_Number]  DEFAULT ((0)) FOR [Number]
GO
ALTER TABLE [dbo].[Instore] ADD  CONSTRAINT [DF_Instore_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[InstoreOrder] ADD  CONSTRAINT [DF_InstoreList_WarehouseId]  DEFAULT ((0)) FOR [WarehouseId]
GO
ALTER TABLE [dbo].[Location] ADD  CONSTRAINT [DF_Location_WarehouseId]  DEFAULT ((0)) FOR [WarehouseId]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Outstore] ADD  CONSTRAINT [DF_Outstore_OutstoreOrderId]  DEFAULT ((0)) FOR [OutstoreOrderId]
GO
ALTER TABLE [dbo].[Outstore] ADD  CONSTRAINT [DF_Outstore_CargoId]  DEFAULT ((0)) FOR [CargoId]
GO
ALTER TABLE [dbo].[Outstore] ADD  CONSTRAINT [DF_Outstore_LocationId]  DEFAULT ((0)) FOR [LocationId]
GO
ALTER TABLE [dbo].[Outstore] ADD  CONSTRAINT [DF_Outstore_Number]  DEFAULT ((0)) FOR [Number]
GO
ALTER TABLE [dbo].[Outstore] ADD  CONSTRAINT [DF_Outstore_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[OutstoreOrder] ADD  CONSTRAINT [DF_OutstoreOrder_WarehouseId]  DEFAULT ((0)) FOR [WarehouseId]
GO
ALTER TABLE [dbo].[OutstoreOrder] ADD  CONSTRAINT [DF_OutstoreOrder_CustmoerId]  DEFAULT ((0)) FOR [CustomerId]
GO
ALTER TABLE [dbo].[OutstoreOrder] ADD  CONSTRAINT [DF_OutstoreOrder_MemberId]  DEFAULT ((0)) FOR [MemberId]
GO
ALTER TABLE [dbo].[UserMenu] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserMenu]  WITH CHECK ADD  CONSTRAINT [FK_UserMenu_Member] FOREIGN KEY([UserId])
REFERENCES [dbo].[Member] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMenu] CHECK CONSTRAINT [FK_UserMenu_Member]
GO
ALTER TABLE [dbo].[UserMenu]  WITH CHECK ADD  CONSTRAINT [FK_UserMenu_Menu] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([MenuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMenu] CHECK CONSTRAINT [FK_UserMenu_Menu]
GO
USE [master]
GO
